/*
 * 	File:		panelio.css
 * 	Author: 	Pug Digital Media (hello@madebypug.com)
 * 	Email:		hello@madebypug.com
 * 	Date:		February 2014
 * 	License:	MIT Open Source (https://github.com/MadeByPug/Panels.io/blob/master/LICENSE.md)
 */

	html, body {
		width: 100%;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
	}
	
	#container {
		width: 100%;
		box-shadow: 2px 0 2px 0px rgba(0,0,0,0.1), -2px 0 2px 0px rgba(0,0,0,0.1);
		-webkit-box-shadow: 2px 0 2px 0px rgba(0,0,0,0.1), -2px 0 2px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 2px 0 2px 0px rgba(0,0,0,0.1), -2px 0 2px 0px rgba(0,0,0,0.1);
		-webkit-backface-visibility: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}
	
	.side-pane {
		position: fixed;
		overflow-y: auto;
		top: 0;
		width: 272px;
		height: 100%;
		display: none;
	}
	
	.active-left .side-pane.left, .active-right .side-pane.right {
		display: block;
	}
	
	.side-pane.left {
		left: 0;
	}
	
	.side-pane.right {
		right: 0;
	}
	
	
	nav {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 999;
	}
	
	.active-left #container, .active-left nav  {
		-webkit-transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
	   	-moz-transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
	    	transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
		-webkit-transform: translate3d(272px,0,0);
		-moz-transform: translate3d(272px,0,0);
		transform: translate3d(272px,0,0);
	}
	
		/*	Sniff out IE9 and add a body tag, then use the following */
		.ie9 .active-left #container, .ie9 .active-left nav  {
			-webkit-transform: translate(272px,0);
			-moz-transform: translate(272px,0);
			-ms-transform: translate(272px,0);
			transform: translate(272px,0);
		}
	
	.active-right #container, .active-right nav  {
		-webkit-transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
	   	-moz-transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
	    	transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
		-webkit-transform: translate3d(-272px,0,0);
		-moz-transform: translate3d(-272px,0,0);
		transform: translate3d(-272px,0,0);
	}
	
		/*	Sniff out IE9 and add a body tag, then use the following */
		.ie9 .active-right #container, .ie9 .active-right nav  {
			-webkit-transform: translate(-272px,0);
			-moz-transform: translate(-272px,0);
			-ms-transform: translate(-272px,0);
			transform: translate(-272px,0);
		}
	
	.active-left #container, .active-left nav, .active-right #container, .active-right nav {
		-webkit-user-select: none;
	  	-moz-user-select: none;
	 	-ms-user-select: none;
	  	-o-user-select: none;
	  	user-select: none;
	}
	
	.closing #container, .closing nav {
		-webkit-transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
	   	-moz-transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
	    	transition: all 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
		-webkit-transform: translate3d(0,0,0) !important;
		-moz-transform: translate3d(0,0,0) !important;
		transform: translate3d(0,0,0) !important;
	}
	
		/*	Sniff out IE9 and add a body tag, then use the following */
		.ie9 .closing #container, .ie9 .closing nav {
			-webkit-transform: translate(0,0) !important;
			-moz-transform: translate(0,0) !important;
			-ms-transform: translate(0,0) !important;
			transform: translate(0,0) !important;
		}
	
